*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

:root {
    --item-height: 100px;
    --item-gap: 1rem;
    --thumb-size: 100px;
    --col-grey: #d4d4d4;
}

body {
    font-family: sans-serif;
}

img,
video {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border-bottom: 1px solid var(--col-grey);
    margin-bottom: 1rem;
}

.breadcrumbs,
.manage {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0 var(--item-gap);
}

.breadcrumbs>*::after {
    content: "→";
    position: relative;
    left: 0.25rem;
}

.breadcrumbs>*:last-of-type::after {
    content: none;
}

.item-list {
    margin: 0;
    padding-inline: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.item {
    overflow: hidden;
    position: relative;
    height: calc(var(--item-height) + 2 * var(--item-gap));
    width: calc(var(--item-height) + 2 * var(--item-gap));
}

.column .item {
    width: min(95vw, 600px);
}

.folder {
    background-color: var(--col-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folder .icon {
    font-size: calc(0.5 * var(--thumb-size));
}

.folder .name {
    text-align: center;
    max-height: 2em;
    overflow-y: hidden;
    word-break: break-word;
}

.item a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.item .info {
    margin-top: calc(3 * var(--item-gap));
    margin-bottom: var(--item-gap);
    margin-right: var(--item-gap);
    margin-left: calc(var(--thumb-size) + 2 * var(--item-gap));
}

.thumb {
    position: absolute;
    width: var(--thumb-size);
    height: var(--thumb-size);
    object-fit: cover;
    top: var(--item-gap);
    left: var(--item-gap);
    border-radius: 5px;
}

.item-single {
    position: relative;
    display: flex;
    justify-content: center;
}

.toggle-favorite {
    position: relative;
    height: 1rem;
    width: 1rem;
}

.item .toggle-favorite {
    position: absolute;
    left: calc(0.5 * var(--item-gap));
    top: calc(0.5 * var(--item-gap));
}

.column .item .toggle-favorite {
    left: calc(var(--thumb-size) + 2 * var(--item-gap));
    top: calc(1.5 * var(--item-gap));
}

.neighbors>* {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1rem;
    display: flex;
    align-items: center;
}

.neighbors .previous {
    left: 0;
}

.neighbors .next {
    right: 0;
}

.item-search,
.item-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--item-gap);
}

.item-search-form input {
    padding: 1px 0.5rem;
    height: 2rem;
    width: min(500px, 80vw);
}

.item-search-form input[type=text] {
    border: 1px solid var(--col-grey);
}

.item-search-form input[type=submit] {
    text-transform: uppercase;
    border: 1px solid var(--col-grey);
    background-color: var(--col-grey);
}

.item-search-form input[type=submit]:hover {
    background-color: white;
}

.to-top {
    position: fixed;
    bottom: var(--item-gap);
    right: var(--item-gap);
    width: calc(2*var(--item-gap));
    height: calc(2*var(--item-gap));
    display: flex;
    align-items: center;
    justify-content: center;
}