{% extends 'base.html.jinja2' %}

{% block html_body %}

<div id="main-wrapper">
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('.get_content') }}">Home</a></li>
        {% for breadcrumb in g.breadcrumbs %}
        {% set content_path = g.breadcrumbs[:loop.index] | join('/') %}
        <li><a href="{{ url_for('.get_content', content_path=content_path) }}">{{ breadcrumb }}</a></li>
        {% endfor %}
    </ul>
    {% block main %}{% endblock main %}
</div>

{#
<script src="{{ url_for('static', filename='script.js') }}"></script> #}
{% endblock html_body %}