{% extends 'base.html.jinja2' %}

{% block html_body %}
<a id="top"></a>

<div class="title">{{item.name}}</div>
<div class="nav">
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('.get_content') }}">🏠</a></li>
        {% for breadcrumb in g.breadcrumbs %}
        {% set content_path = g.breadcrumbs[:loop.index] | join('/') %}
        <li>
            <a{% if loop.index==g.breadcrumbs | length - 1%} id="up-link" {% endif %}
                href="{{ url_for('.get_content', content_path=content_path) }}">
                {% if '.' in breadcrumb %}
                🍿
                {% else %}
                🗂️
                {% endif %}
                </a>
        </li>
        {% endfor %}
    </ul>
    <ul class="manage">
        <li><a onclick="toggleView();">📋</a></li>
        <li><a href="{{ url_for('.get_content', content_path=item.content_path, reload_thumbs=True) }}">♻️</a></li>
        <li><a href="{{ url_for('.get_content', content_path=item.content_path, favorites=True) }}">⭐️</a></li>

        {% if g.breadcrumbs|length > 0 %}
        <li>
            <form action="{{ url_for('.manage', content_path=item.content_path, toggle_favorite=item.content_path) }}"
                method="post">
                <input type="checkbox" class="toggle-favorite" name="toggle-favorite" onchange="toggleFavorite(this);"
                    {% if item.is_favorite %} checked{% endif %}>
            </form>
        </li>
        {% endif %}
        <li><a href="{{ url_for('.get_content', content_path=item.content_path, search=True) }}">🔎</a></li>
    </ul>
</div>

{% block main %}{% endblock main %}

<div class="neighbors">
    {% if item.previous_neighbor %}
    <a id="previous-neighbor"
        href="{{ url_for('.get_content', content_path=item.previous_neighbor.content_path) }}">←</a>
    {% endif %}
    {% if item.next_neighbor %}
    <a id="next-neighbor" href="{{ url_for('.get_content', content_path=item.next_neighbor.content_path) }}">→</a>
    {% endif %}
</div>

<a class="to-top" href="#top">🔝</a>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock html_body %}