{% extends 'content/base.html.jinja2' %}

{% block meta %}
{% if item.neighbors[0] %}
<meta name="neighbor-previous" href="{{ item.neighbors[0] }}">
{% endif %}
{% if item.neighbors[1] %}
<meta name="neighbor-next" href="{{ item.neighbors[1] }}">
{% endif %}
{% endblock meta %}

{% block main %}

{% if item.type == 'image' %}

<img src="{{ item.href }}" id="item" alt="">

{% elif item.type == 'video' %}

<video id="item" controls autoplay>
    <source src="{{ item.href }}" type="video/{{ item.suffix }}">
    Your browser does not support the video tag.
</video>

{% else %}
unknown
{% endif %}

{% endblock main %}