{% extends 'content/base.html.jinja2' %}

{% block main %}

{% if item.type == 'image' %}

<img src="{{ item.href }}" id="item" alt="">

{% elif item.type == 'video' %}

<video id="item" controls autoplay>
    <source src="{{ item.href }}" type="video/{{ item.suffix }}">
    Your browser does not support the video tag.
</video>

{% else %}
unknown
{% endif %}

{% endblock main %}