{% extends 'content/base.html.jinja2' %}

{% block main %}
<div class="content-form">
    <h1>Search</h1>
    <form action="{{ url_for('content.manage', content_path=item.content_path, search=True) }}" method="post">
        <input type="text" name="keyword" required>
        <input type="submit" value="search">
    </form>
    {% if item_list is not none %}
    <h1>Results for
        <em>{{ search_keyword }}</em>
    </h1>
    {% include 'content/include/item-list.html.jinja2' %}
    <p>Search took {{ search_duration | round(3) }} seconds.</p>
    {% endif %}
</div>
{% endblock main %}