{% extends 'base.html.jinja2' %}

{% block html_body %}
<div id="top">
    <div class="trace-back">
        {% for crumb in breadcrumbs %}
        {% if crumb.href %}
            <a href="{{ url_for('content', content_path=crumb.href) }}">{{ crumb.name }}</a>
        {% else %}
            <a href="{{ url_for('base_content') }}">{{ crumb.name }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="main-wrapper">
    {% block main_wrapper %}{% endblock main_wrapper %}
</div>

{% endblock html_body %}