{% macro convert_content_tree(content) %}
    <span href="{{ url_for('content', content_path=content.href) }}" class="f {% if content.is_open %}selected opened{% endif %}">{{ content.name }}</span>
    {% if content.directories %}
    <ol>
        {% for dir in content.directories %}
            <li>{{ convert_content_tree(dir) }}</li>
        {% endfor %}
    </ol>
    {% endif %}
    
{% endmacro %}

{% extends 'content.html.jinja2' %}

{% block main_wrapper %}
    <div id="nav-tree">
        {% if content_tree %}
            {{ convert_content_tree(content_tree) }}
        {% endif %}
    </div>
    <div id="thumb-wrapper">
    {% for thumb in thumbs %}
        {% if thumb.content_type == "dir" %}
            <a href="{{ thumb.href }}" class="thumb dir">{{ thumb.name }}</a>
        {% elif thumb.content_type == "image" %}
            <a href="{{ thumb.href }}" style="background-image: url('{{ thumb.data_src }}');" class="thumb lazy-thumb"></a>
        {% elif thumb.content_type == "video" %}
            <a href="{{ thumb.href }}" style="background-image: url('{{ thumb.data_src }}');" class="thumb lazy-thumb">{{ thumb.name }}</a>
        {% else %}
            <div class="thumb">{{ thumb.name }}</div>
        {% endif %}
    {% endfor %}
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock main_wrapper %}