{% extends 'content.html.jinja2' %}

{% block main_wrapper %}
    {% if content.type == "image" %}
        <img src="{{ content.src }}">

        {% if neighbors.previous %}
            <a class="content-previous" href="{{ neighbors.previous }}"></a>
        {% else %}
            <span class="content-previous"></span>
        {% endif %}

        {% if neighbors.next %}
            <a class="content-next" href="{{ neighbors.next }}"></a>
        {% else %}
            <span class="content-next"></span>
        {% endif %}
        
    {% elif content.type == "video" %}
        <video controls loop autoplay>
            <source src="{{ content.src }}">
        </video>
    {% else %}
        <div>{{ content.src }}</div>
    {% endif %}
{% endblock main_wrapper %}