{% extends 'base.html.jinja2' %}

{% block html_body %}

<div class="content-form">
    <h1>Login</h1>
    <form action="{{ url_for('auth.login', next_url=next_url) }}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}